<div class="flex items-center m-8">
    <h2 class="text-3xl font-semibold flex-grow"> 
        Series
    </h2>
    
    <%= button_to "New match series",
        new_match_series_path,
        class: "text-center p-2 bg-indigo-500 text-white rounded",
        method: :get,
        data: { turbo_frame: "modal" } %>
</div>

<div class="relative overflow-x-auto m-8">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-indigo-500 uppercase bg-indigo-100">
            <tr>
                <th scope="col" class="px-2 pl-4 py-3">
                    Actions
                </th>
                <th scope="col" class="px-2 py-3 w-full">
                    Name
                </th>
                <th scope="col" class="px-2 pr-4 py-3">
                    Players
                </th>
            </tr>
        </thead>
        <tbody id="match_series_tbody">
          <%= render @match_series %>
        </tbody>
    </table>
</div>
