<%= turbo_stream.prepend "ts_selected_user_search" do %>
  <div class="js-selected-users flex" value="<%= @user.id %>" >
    <div>
      <%= @user.email %>
    </div>
    <div> 🗑️ </div>
  </div>
  <%= check_box_tag "user_ids[]", @user.id, true, id: @user.id, class: 'none' %>
<% end%>